<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>手动运行每日收入支出</title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/searchEarningExpenseDayPage.css}" />
    <link rel="stylesheet" th:href="@{/css/paginate.css}" media="screen" type="text/css" />
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.paginate.js}"></script>
</head>
<body>
<input th:hidden="hidden" th:id="userId" />
<input th:hidden="hidden" th:id="accessToken" />
<div>
    <table>
        <tr>
            <td>运行日期从</td>
            <td>
                <select th:id="beginYear" th:name="beginYear" onchange="changeBeginDate()">
                    <option th:each="beginYear,beginYearStat:${yearList}" th:value="${beginYear}" th:text="${beginYear}">
                    </option>
                </select>
            </td>
            <td>年</td>
            <td>
                <select th:id="beginMonth" th:name="beginMonth" onchange="changeBeginDate()">
                    <option th:each="beginMonth,beginMonthStat:${monthList}" th:value="${beginMonth}" th:text="${beginMonth}">
                    </option>
                </select>
            </td>
            <td>月</td>
            <td>
                <select th:id="beginDay" th:name="beginDay">
                    <option th:each="beginDay,beginDayStat:${dayList}" th:value="${beginDay}" th:text="${beginDay}">
                    </option>
                </select>
            </td>
            <td>日</td>


            <td>到</td>
            <td>
                <select th:id="endYear" th:name="endYear" onchange="changeEndDate()">
                    <option th:each="endYear,endYearStat:${yearList}" th:value="${endYear}" th:text="${endYear}">
                    </option>
                </select>
            </td>
            <td>年</td>
            <td>
                <select th:id="endMonth" th:name="endMonth" onchange="changeEndDate()">
                    <option th:each="endMonth,endMonthStat:${monthList}" th:value="${endMonth}" th:text="${endMonth}">
                    </option>
                </select>
            </td>
            <td>月</td>
            <td>
                <select th:id="endDay" th:name="endDay">
                    <option th:each="endDay,endDayStat:${dayList}" th:value="${endDay}" th:text="${endDay}">
                    </option>
                </select>
            </td>
            <td>日</td>
            <td>
                <input th:type="button" th:value="运行" onclick="runEarningExpenseDay()" />
            </td>
        </tr>
    </table>
</div>
</body>
<script>
    /*<![CDATA[*/

    $(document).ready(function () {
        if(localStorage.accessToken == null || localStorage.accessToken == "" 
                || localStorage.accessToken == undefined){
            alert("请先登录");
            window.location.href = "/loginPage";
            return;
        }
        $("#userId").val(localStorage.userId);
        $("#accessToken").val(localStorage.accessToken);
    });

    function runEarningExpenseDay() {
        var beginYear = $("#beginYear").val();
        var beginMonth = $("#beginMonth").val();
        var beginDay = $("#beginDay").val();
        var endYear = $("#endYear").val();
        var endMonth = $("#endMonth").val();
        var endDay = $("#endDay").val();
        var accessToken = localStorage.accessToken;
        var userId = $("#userId").val();
        if(accessToken == null || accessToken == "" || accessToken == undefined){
            alert("请先登录");
            window.location.href = "/loginPage";
            return;
        }
        if (beginYear > endYear) {
            alert("开始年份不能大于结束年份");
            return;
        }
        if (beginMonth > endMonth) {
            alert("开始月份不能大于结束月份");
            return;
        }
        if (beginDay > endDay) {
            alert("开始日期不能大于结束日期");
            return;
        }
        var earningExpenseDayArray = {};
        earningExpenseDayArray["beginYear"] = beginYear;
        earningExpenseDayArray["beginMonth"] = beginMonth;
        earningExpenseDayArray["beginDay"] = beginDay;
        earningExpenseDayArray["endYear"] = endYear;
        earningExpenseDayArray["endMonth"] = endMonth;
        earningExpenseDayArray["endDay"] = endDay;
        earningExpenseDayArray["userId"] = userId;
        earningExpenseDayArray["accessToken"] = accessToken;
        $.ajax({
            url: "/runEarningExpenseDays",
            type: "post",
            dataType: "json",
            contentType: "application/json",
            beforeSend:function (request) {
                request.setRequestHeader("accessToken",accessToken);
            },
            async: false,
            data: JSON.stringify(earningExpenseDayArray),
            success: function callbackFun(data) {
                alert(data.responseDesc);
                return;
            }
        });
    }

    var dayOptionStr = '<option value="1">1</option>'+
            '<option value="2">2</option>'+
            '<option value="3">3</option>'+
            '<option value="4">4</option>'+
            '<option value="5">5</option>'+
            '<option value="6">6</option>'+
            '<option value="7">7</option>'+
            '<option value="8">8</option>'+
            '<option value="9">9</option>'+
            '<option value="11">11</option>'+
            '<option value="10">10</option>'+
            '<option value="12">12</option>'+
            '<option value="13">13</option>'+
            '<option value="14">14</option>'+
            '<option value="15">15</option>'+
            '<option value="16">16</option>'+
            '<option value="17">17</option>'+
            '<option value="18">18</option>'+
            '<option value="19">19</option>'+
            '<option value="20">20</option>'+
            '<option value="21">21</option>'+
            '<option value="22">22</option>'+
            '<option value="23">23</option>'+
            '<option value="24">24</option>'+
            '<option value="25">25</option>'+
            '<option value="26">26</option>'+
            '<option value="27">27</option>'+
            '<option value="28">28</option>'+
            '<option value="29">29</option>'+
            '<option value="30">30</option>';

    var day2OptionStr = '<option value="1">1</option>'+
            '<option value="2">2</option>'+
            '<option value="3">3</option>'+
            '<option value="4">4</option>'+
            '<option value="5">5</option>'+
            '<option value="6">6</option>'+
            '<option value="7">7</option>'+
            '<option value="8">8</option>'+
            '<option value="9">9</option>'+
            '<option value="11">11</option>'+
            '<option value="10">10</option>'+
            '<option value="12">12</option>'+
            '<option value="13">13</option>'+
            '<option value="14">14</option>'+
            '<option value="15">15</option>'+
            '<option value="16">16</option>'+
            '<option value="17">17</option>'+
            '<option value="18">18</option>'+
            '<option value="19">19</option>'+
            '<option value="20">20</option>'+
            '<option value="21">21</option>'+
            '<option value="22">22</option>'+
            '<option value="23">23</option>'+
            '<option value="24">24</option>'+
            '<option value="25">25</option>'+
            '<option value="26">26</option>'+
            '<option value="27">27</option>'+
            '<option value="28">28</option>';

    var day2LeapOptionStr = '<option value="1">1</option>'+
            '<option value="2">2</option>'+
            '<option value="3">3</option>'+
            '<option value="4">4</option>'+
            '<option value="5">5</option>'+
            '<option value="6">6</option>'+
            '<option value="7">7</option>'+
            '<option value="8">8</option>'+
            '<option value="9">9</option>'+
            '<option value="11">11</option>'+
            '<option value="10">10</option>'+
            '<option value="12">12</option>'+
            '<option value="13">13</option>'+
            '<option value="14">14</option>'+
            '<option value="15">15</option>'+
            '<option value="16">16</option>'+
            '<option value="17">17</option>'+
            '<option value="18">18</option>'+
            '<option value="19">19</option>'+
            '<option value="20">20</option>'+
            '<option value="21">21</option>'+
            '<option value="22">22</option>'+
            '<option value="23">23</option>'+
            '<option value="24">24</option>'+
            '<option value="25">25</option>'+
            '<option value="26">26</option>'+
            '<option value="27">27</option>'+
            '<option value="28">28</option>'+
            '<option value="29">29</option>';

    function changeBeginDate() {
        var beginYear = $("#beginYear").val();
        var beginMonth = $("#beginMonth").val();
        if(beginMonth == 4 || beginMonth == 6 || beginMonth == 9 || beginMonth == 11){
            $("#beginDay").html(dayOptionStr)
        }
        if(beginMonth == 2){
            //判断是否是闰年
            if((beginYear%4 == 0 && beginYear%100 != 0) || beginYear%400 == 0){
                $("#beginDay").html(day2LeapOptionStr)
            }else {
                $("#beginDay").html(day2OptionStr)
            }
        }
    }

    function changeEndDate() {
        var endYear = $("#endYear").val();
        var endMonth = $("#endMonth").val();
        if(endMonth == 4 || endMonth == 6 || endMonth == 9 || endMonth == 11){
            $("#endDay").html(dayOptionStr)
        }
        if(endMonth == 2){
            //判断是否是闰年
            if((endYear%4 == 0 && endYear%100 != 0) || endYear%400 == 0){
                $("#endDay").html(day2LeapOptionStr)
            }else {
                $("#endDay").html(day2OptionStr)
            }
        }
    };


    /*]]>*/
</script>
</html>